input{
    padding: 1rem !important;
    background: var(--light);
}

.button {
    padding: 1rem !important;
    border-radius: 15px !important;
    text-align: center;
    transition: filter 0.5s ease-in;
}

.button.primary {
    background: var(--dark) !important;
    color: var(--light);
    border: 1px solid var(--secondary);
}

.button.secondary {
    background: var(--accent);
    border: 1px solid var(--secondary);
    color: var(--dark) !important;
}

.button:hover{
    filter: brightness(1.4);
}

img.character{
  filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.6));
}