.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.home .actions {
    display: flex;
    justify-content: space-between;
}

.home .actions .actions {
    gap: 1rem;
}

.home .anime-gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    gap: 2rem;
    place-items: center;
}


.home .anime-gallery .anime-card {
    position: relative;          
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;           
    background: var(--dark);
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.home .anime-gallery .anime-card img{
    width: 100%;
    height: auto;
    flex-shrink: 0;
    object-fit: cover;
    display: block;
}

.home .anime-gallery .anime-card::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%; 
    background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
    pointer-events: none;
}

.home .anime-gallery .anime-card > div {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color: white;
    z-index: 10;
}

.home .anime-gallery .anime-card > div h5,
.home .anime-gallery .anime-card > div p {
    text-shadow: 1px 1px 4px rgba(0,0,0,0.9);
    margin: 0 0 0.5em 0;
}

.home .anime-gallery .anime-card > div button {
    padding: 0.5rem;
    background: var(--dark);
    color: var(--light);
    border-radius: 15px;
}