* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.login-page {
    width: 100%;
    height: 100dvh;
}

.login {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    padding: 10rem;
    width: 100%;
    height: 100%;
}

.login .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login .title img {
    max-width: 10rem;
}

.login h2 {
    text-align: center;
    align-self: center;
}

.login form button {
    text-align: center;
    align-self: center;
    width: 100%;
}