:root {
    --dark: #0b132b; 
    --primary: #1c2541; 
    --primary-low-op: #1c2541ca; 
    --secondary: #1c2541; 
    --accent: #6fffe9; 
    --accent-dark: #c0f1f0;
    --light: #ffffff;
}

body {
    background: var(--dark) !important;
    color: var(--primary) !important;
}

a{
    color: inherit;
    text-decoration: none !important;
}

/* scroll  */

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: var(--dark);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 6px;
    border: 3px solid var(--dark);;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--accent) var(--dark);;
}
