:root {
    --dark: #ff8080; 
    --primary: #420202; 
    --secondary: #ffebeb; 
    --accent: #d0eed5; 
    --accent-dark: #2e5939;
    --light: #ffffff;
}

body {
    background: var(--secondary) !important;
    color: var(--primary) !important;
}

a{
    color: inherit;
    text-decoration: none !important;
}