.layout {
    display: flex !important;
    flex-direction: column !important;
    outline: 5px solid red !important;
    height: 100%;
    min-height: 100dvh;

}

header, main, footer {
    padding: 1rem 2rem;
}


main {
    flex: 1;
    
}

footer {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    color: var(--light);
}
